name: CI
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: srp_test
        options: >-
          --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        ports: [3306:3306]

    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: pdo_mysql,sqlite3
      - uses: actions/setup-node@v2
  with:
    node-version: '16.x'
    cache: 'npm' # or 'yarn'
    cache-dependency-path: './package-lock.json' # or './yarn.lock' if using Yarn

      - run: composer ci
